:root {
  --main-color: #4a41f4;
  --secondary-color: #f0f0f6;
  --text-color: #2f3238;
  --font-size-lg: 36px;
  --font-size-sm: 16px;
  --border-radius: 10px;
  --padding-lg: 20px;
  --padding-md: 10px;
  --padding-sm: 5px;
}

.cases {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  margin-top: 200px;
  /* margin-left: auto; */
  /* margin-right: auto; */
  padding-left: max(5vw, 40px);
  padding-right: max(5vw, 40px);
  box-sizing: border-box;
}

.case-root {
  position: sticky;
  top: 30px;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  z-index: 1;
}

.case-info {
  border-radius: var(--border-radius);
  background-color: white;
  padding-left: var(--padding-lg);
  padding-right: var(--padding-md);
}

.case-header {
  display: grid;
  grid-template-columns: 0.85fr auto;
  justify-content: space-between;
}

.caseArticle-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.case-h2 {
  padding-bottom: 10px;
  margin-bottom: 0;
}

.case-p {
  margin-bottom: 50px;
  margin-right: 0;
}

.btn-holders {
  display: flex;
  margin-top: auto;
  width: 100%;
  gap: var(--padding-md);
}

.caption-small {
  font-weight: 500;
  line-height: 116%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--text-color);
  padding-top: var(--padding-lg);
  padding-right: 10px;
}

.case-btn-block {
  display: flex;
  flex-direction: column;
  grid-gap: calc(16 / var(--gfs) * 100vw);
}

.case-media {
  overflow: hidden;
  border-radius: var(--border-radius);
  flex-shrink: 0;
  width: 63%;
}

.case-img {
  /* max-height: 100%; */
  width: 100%;
  height: 100%;
  position: relative;
}

/* -------------- Media Queries ---------------------- */
/* Extra small (xs) */
@media (max-width: 575.98px) {
  .cases {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
  }

  .case-root {
    flex-direction: column;
    position: relative;
  }

  .case-info {
    padding-bottom: 30px;
    padding-right: var(--padding-sm);
  }

  .case-header {
    grid-template-columns: 0.9fr auto;
  }

  .caption-small {
    display: none;
  }

  .case-media {
    width: 100%;
    border-radius: 0px 0px 20px 20px;
  }

  .case-img {
    object-fit: cover;
  }
}

/* - most phones & small ipads*/
@media (min-width: 576px) {
  .case-root {
    flex-direction: column;
  }

  .case-info {
    padding-bottom: 30px;
    padding-right: var(--padding-sm);
  }

  .case-header {
    grid-template-columns: 0.9fr auto;
  }

  .caption-small {
    display: none;
  }

  .case-media {
    width: 100%;
    border-radius: 0px 0px 20px 20px;
  }

  .case-img {
    object-fit: cover;
  }
}

/*  - large phones */
@media (min-width: 768px) {
  .case-root {
    flex-direction: column;
  }

  .case-info {
    padding-bottom: 30px;
    padding-right: var(--padding-sm);
  }

  .case-header {
    grid-template-columns: 0.9fr auto;
  }

  .caption-small {
    display: none;
  }

  .case-media {
    width: 100%;
    border-radius: 0px 0px 20px 20px;
  }

  .case-img {
    object-fit: cover;
  }
}

/* Large (lg) small laptops */
@media (min-width: 992px) {
  .case-root {
    flex-direction: row;
  }

  .case-info {
    padding-bottom: 30px;
    padding-right: var(--padding-sm);
  }

  .case-header {
    grid-template-columns: 0.8.5fr auto;
  }

  .caption-small {
    display: block;
  }

  .case-media {
    width: 63%;
    border-radius: 0px 20px 20px 0px;
  }

  .case-img {
    object-fit: cover;
  }
}

/* Extra large (xl) */
@media (min-width: 1200px) {
  .case-root {
    flex-direction: row;
  }

  .case-info {
    padding-bottom: 30px;
    padding-right: var(--padding-sm);
  }

  .case-header {
    grid-template-columns: 0.8.5fr auto;
  }

  .caption-small {
    display: block;
  }

  .case-media {
    width: 63%;
    border-radius: 0px 20px 20px 0px;
  }

  .case-img {
    object-fit: cover;
  }
}

/* Extra extra large (xxl) */
@media (min-width: 1400px) {
  .case-root {
    flex-direction: row;
  }

  .case-info {
    padding-bottom: 30px;
    padding-right: var(--padding-sm);
  }

  .case-header {
    grid-template-columns: 0.8.5fr auto;
  }

  .caption-small {
    display: block;
  }

  .case-media {
    width: 63%;
    border-radius: 0px 20px 20px 0px;
  }

  .case-img {
    object-fit: cover;
  }
}
