/* Base styles */
.h2-container {
  padding-top: max(5vw, 50px);
  padding-left: max(5vw, 20px);
  padding-right: max(5vw, 20px);
  box-sizing: border-box;
}

.h2-container h2 {
  text-align: left;
}

.steps-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 30px;
  overflow: hidden;
  padding-left: max(5vw, 20px);
  padding-right: max(5vw, 20px);
}

.card {
  position: relative;
  background-color: white;
  border-radius: 10px;
  padding: 30px 30px 20px;
}

.card-number {
  font-size: 20px;
  padding: 15px;
  background-color: #1a191c;
  color: white;
  display: block;
  width: 30px;
  text-align: center;
  border-radius: 20%;
  margin-bottom: 30px;
}

.steps-container h3 {
  margin: 0;
  font-weight: 400;
  line-height: 47px;
}

.card p {
  margin-bottom: 30px;
}

.card-img {
  width: 30px;
  height: 30px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #4a41f4;
}

/* Media Queries */
@media (min-width: 992px) {
  .h2-container {
    padding-top: max(5vw, 100px);
  }

  .h2-container h2 {
    text-align: right;
  }

  .steps-container {
    flex-direction: row;
    justify-content: space-between;
    padding-left: max(5vw, 40px);
    padding-right: max(5vw, 40px);
  }
}

@media (min-width: 1400px) {
  .h2-container {
    margin-top: max(5vw, 100px);
    padding-left: max(5vw, 40px);
    padding-right: max(5vw, 40px);
  }

  .steps-container {
    padding-left: max(5vw, 40px);
    padding-right: max(5vw, 40px);
  }
}
