/* Header container styles */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0;
  border-radius: 20px;
  background-color: white;
  margin-left: max(5vw, 40px);
  margin-right: max(5vw, 40px);
  overflow: hidden;
  gap: 0;
}

.header-left {
  flex: 0 1 42%;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.header-images {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 5px;
  justify-content: flex-end;
}

.header-images img {
  display: block;
  width: 100%;
  height: auto;
}

.header-center,
.header-right {
  flex: 0 1 48%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0;
  position: relative;
}

.btn-holders {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.h1-bold {
  font-weight: 800;
}

/* Image styles */
.image-center {
  width: 100%;
  height: 100%;
  display: block;
}

.zoom-bar {
  background-color: #2e2e2e;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.zoom-bar img {
  width: 20px;
  height: 20px;
  background-color: black;
  padding: 10px;
  border-radius: 50%;
}

.zoom-bar > .phone {
  background-color: #4a41f4;
  transform: rotate(-140deg);
}

.phone:hover {
  background-color: black;
}

/* Media Queries */
@media (max-width: 991.98px) {
  .header-container {
    flex-direction: column;
    margin-left: max(5vw, 20px);
    margin-right: max(5vw, 20px);
  }

  .zoom-bar {
    display: none;
  }

  .header-left {
    order: 1;
    padding: 20px;
  }

  .header-images {
    order: 2;
    flex-direction: column;
  }

  .btn-holders {
    margin-bottom: 30px;
  }

  .header-right {
    display: none;
  }
}

@media (min-width: 992px) {
  .header-container {
    flex-direction: row;
  }

  .header-left {
    padding: 40px;
  }

  .zoom-bar {
    display: flex;
  }
}

@media (min-width: 1400px) {
  .header-left {
    padding: 70px;
  }
}
