/* Header container styles */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  border-radius: 20px;
  background-color: white;
  margin-left: max(5vw, 40px);
  margin-right: max(5vw, 40px);
  margin-bottom: 100px;
  overflow: hidden;
}

.header-left {
  flex: 0 1 42%;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 90px;
}

.header-images {
  flex: 0 1 29%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  padding: 0;
  height: 100%;
  margin-left: 5px;
}

.btn-holders {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.h1-bold {
  font-weight: 800;
}

.image-right {
  width: 100%;
  height: auto;
}

.image-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  align-items: stretch;
  position: relative;
}

.zoom-bar {
  background-color: #2e2e2e;
  padding: 8px 15px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 50px;

  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.zoom-bar img {
  width: 15px;
  height: 15px;
  background-color: black;
  padding: 8px;
  border-radius: 50%;
}

.zoom-bar > .phone {
  background-color: #4a41f4;
}

.phone:hover {
  background-color: black;
}

/* Extra small (xs) - Older phones and really small */
@media (max-width: 575.98px) {
  .header-container {
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
  }

  #image-card-1,
  #image-card-2,
  #image-card-3 {
    display: none;
  }

  .btn-holders {
    margin-bottom: 30px;
  }

  .header-left {
    padding: 20px;
  }

  .header-center {
    margin-right: 0px;
  }
}

/* Small (sm) - Most phones */
@media (min-width: 576px) and (max-width: 767.98px) {
  .header-container {
    flex-direction: column;
  }

  #image-card-1,
  #image-card-2,
  #image-card-3 {
    display: none;
  }

  .btn-holders {
    margin-bottom: 30px;
  }

  .header-left {
    padding: 10px;
  }

  .header-center {
    margin-right: 0px;
  }
}

/* Medium (md) - Larger phones tablets in portrait */
@media (min-width: 768px) and (max-width: 991.98px) {
  .header-container {
    flex-direction: column;
  }

  #image-card-1,
  #image-card-2,
  #image-card-3 {
    display: none;
  }

  .btn-holders {
    margin-bottom: 30px;
  }

  .header-left {
    padding: 20px;
  }

  .header-center {
    margin-right: 0px;
  }
}

/* Large (lg) - smaller laptops */
@media (min-width: 992px) {
  .header-container {
    flex-direction: row;
  }

  #image-card-1,
  #image-card-2,
  #image-card-3 {
    display: block;
  }

  .image-right {
    display: flex;
  }

  .header-left {
    padding: 0px 90px 0px 40px;
  }

  .header-center {
    margin-right: 5px;
  }
}

/* Extra large (xl) */
@media (min-width: 1200px) {
  .header-container {
    flex-direction: row;
  }

  #image-card-1,
  #image-card-2,
  #image-card-3 {
    display: block;
  }

  .header-center {
    margin-right: 5px;
  }

  .header-left {
    padding: 0px 90px 0px 40px;
  }
}

/* Extra extra large (xxl) */
@media (min-width: 1400px) {
  .header-container {
    flex-direction: row;
  }

  #image-card-1,
  #image-card-2,
  #image-card-3 {
    display: block;
  }

  .header-left {
    padding: 0px 140px 0px 70px;
  }
}
